body {
  font-size: 18px;
  font-family: Helvetica;
  margin: 0;
  display: block;
}

header { /* part 1 */
  background-color: black;
  display: flex;

}

.header {  /* part 1 */
  width: 960px;
  margin: 0 auto;
  display: flex;
  align-items: center; /* все элементы контейнера выравниваются по центру по оси cross axis */
  justify-content: flex-start;
  padding: 12px 0 12px 0.5rem;
}

.header span {  /* part 1 */
  font-size: 1rem;
  font-family: Helvetica;
  color: white;
  padding: 0;
  margin: 0.66rem 0.5rem;
}

.header img {  /* part 1 */
  height: 1.5rem;
  padding-right: 15px;
}

.new-arival { /* part 2 основной контейнер с фоном */
  background-image: url("../images/moto.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 25rem;
}

.sub1 { /* part 2 этоn контейнер задаёт ширину в 960 пикселей*/
  width: 960px;
  margin: 0 auto;
  display: flex;


}

.sub2 { /* part 2 в этом контейнере содержится контент*/
  width: 20rem;
  display: block;
  flex-direction: column;
  background-color: black;
  position: relative;
  top: 9rem;
  padding: 2rem 3rem;
}

h4 { /* part 2 */
  font-size: 1rem;
  font-weight: bold;
  color: white;
}

h1 { /* part 2 */
  font-size: 2rem;
  font-weight: bold;
  color: white;
  margin: 0.75rem 0px; /* зименнём 0,25rem, как в тех задании */
}

.red-block { /* part 3 */
  background-color: firebrick;
  display: flex;
  justify-content: center;
}

.block-menu { /* part 3, для выравнивания основного меню, оборачивает в блок  */
  width: 960px;
  display: flex;
  flex-direction: column;
}

.red-block .defoult-nav { /* part 3 */
  width: 960px;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.red-block .defoult-nav span { /* part 3 */
  padding: 0.75rem 0;
  color: white;
}

.mob-nav { /* part 3 для планшетной версии*/
  display: none;
  text-align: center;

}

.mob-nav span { /* part 3  для планшетной версии*/

  color: white;
}

.main { /* part 4 главный контейнер */
  display: flex;
  justify-content: center;
}

.align { /* part 4 второй вспомогательный контейнер который задает ширину */
  width: 960px;
  display: flex;
  flex-direction: column;

}

.content1 { /* part 4 контейнер с изображением и текстом */
  max-width: 960px;
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;


}

.item { /* part 4, 1 контейнер с изображение и текстом*/
  border: 4px solid black;
  width: 30%;
}

.glasses { /* part 4, 1 контейнер с изображение и текстом дублируем для .glasses*/
  border: 4px solid black;
  width: 30%;
}

.prod-img { /*part 4 этот контейнер для выравнивания изобраэения */
  height: 9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0px;
}

.item .prod-img img { /* part 4, свойства изображения */
  max-width: 8rem;
}

.glasses .prod-img img { /* part 4, свойства изображения дублируем для .glasses */
  max-width: 8rem;
}

.item span { /* part 4, свойства текста под изображением */
  color: white;
  background-color: black;
  display: block;
  text-align: center;
  padding: 0.5rem;
}

.glasses span { /* part 4, дублируем для .glasses */
  color: white;
  background-color: black;
  display: block;
  text-align: center;
  padding: 0.5rem;
}

.content2 { /* part 4, контент под изображениями location and hours  */
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  margin-bottom: 4rem;
}

.element { /* part 4 ширина одного элемента*/
  width: 35%
}

.glasses { /* part 4 отдельный класс для очков, так как они в моб версии не будут отображаться*/
  width: 35%

}

.title { /* part 4, свойства черного заголовка*/
  display: block;
  background-color: black;
  color: white;
  padding: 1rem 2rem;
  margin-bottom: 0.25rem;
}

footer { /* part 5 footer */
  background-color: black;
  height: 10rem; /* в тех задании задан 5rem, но на финальном изображеия явно не 5rem */
  display: flex;
  justify-content: center;
}

.footer-align { /* part 5, создает контейнер и выравнивает текст по двум осям */
  width: 960px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.footer-align span { /* part 5 footer, цвет текста*/
  color: white;
}

@media only screen and (max-width: 1024px) { /* Для планшетов */
  .header span {  /* part 1 */
    font-size: 0.8rem;
    margin: 0.5rem 0.5rem;
  }


  .header img {  /* part 1 */
    height: 1.2rem;
    padding-right: 10px;
    }

  .red-block .defoult-nav span { /* скрывает основное меню */
    display: none;
  }

  .red-block .mob-nav /*span*/ { /* показывает заголовок меню */
    display: block;
    padding: 0.75rem 0;
  }

  .glasses {
    display: none;
  }


  .item {
    width: 47%;
    flex-shrink: 2;
  }
}

@media only screen and (max-width: 470px) { /* для экранов телефонов */


}
