body {
  font-size: 18px;
  font-family: Helvetica;
  margin: 0;
  display: block;
}

header { /* part 1 */
  background-color: black;
  display: flex;
}

.header {  /* part 1 */
  width: 960px;
  margin: 0 auto;
  display: flex;
  align-items: center; /* все элементы контейнера выравниваются по центру по оси cross axis */
  justify-content: flex-start;
  padding: 12px 0 12px 0.5rem;
}

.header span {  /* part 1 */
  font-size: 1rem;
  font-family: Helvetica;
  color: white;
  padding: 0;
  margin: 0.66rem 0.5rem;
}

.header img {  /* part 1 */
  height: 1.5rem;
  padding-right: 15px;
}

.new-arival { /* part 2 основной контейнер с фоном */
  background-image: url("../images/moto.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 25rem;
}

.sub1 { /* part 2 этоn контейнер задаёт ширину в 960 пикселей*/
  width: 960px;
  margin: 0 auto;
  display: flex;
}

.sub2 { /* part 2 в этом контейнере содержится контент*/
  width: 20rem;
  display: block;
  flex-direction: column;
  background-color: black;
  position: relative;
  top: 9rem;
  padding: 2rem 3rem;
}

h4 { /* part 2 */
  font-size: 1rem;
  font-weight: bold;
  color: white;
}

h1 { /* part 2 */
  font-size: 2rem;
  font-weight: bold;
  color: white;
  margin: 0.75rem 0px; /* зименнём 0,25rem, как в тех задании */
}

.red-block { /* part 3 */
  background-color: firebrick;
  display: flex;
  justify-content: center;
}

.block-menu { /* part 3, для выравнивания основного меню, оборачивает в блок  */
  width: 960px;
  display: flex;
  flex-direction: column;
}

.red-block .defoult-nav { /* part 3 */
  width: 960px;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.red-block .defoult-nav span { /* part 3 */
  padding: 0.75rem 0;
  color: white;
}

.mob-nav { /* part 3 для планшетной версии*/
  display: none;
  text-align: center;
}

.mob-nav span { /* part 3  для планшетной версии*/

  color: white;
}

.main { /* part 4 главный контейнер */
  display: flex;
  justify-content: center;
}

.align { /* part 4 второй вспомогательный контейнер который задает ширину */
  width: 960px;
  display: flex;
  flex-direction: column;
}

.content1 { /* part 4 контейнер с изображением и текстом */
  max-width: 960px;
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}

.item { /* part 4, 1 контейнер с изображение и текстом*/
  border: 4px solid black;
  width: 30%;
}

.glasses { /* part 4, 1 контейнер с изображение и текстом дублируем для .glasses*/
  border: 4px solid black;
  width: 30%;
}

.watch { /* part 4, 2 контейнер с изображение и текстом дублируем для .watc*/
  border: 4px solid black;
  width: 30%;
}


.prod-img { /*part 4 этот контейнер для выравнивания изобраэения */
  height: 9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0px;
}

.item .prod-img img { /* part 4, свойства изображения */
  max-width: 8rem;
}

.glasses .prod-img img { /* part 4, свойства изображения дублируем для .glasses */
  max-width: 8rem;
}

.watch .prod-img img { /* part 4, свойства изображения дублируем для .watch */
  max-width: 8rem;
}

.item span { /* part 4, свойства текста под изображением */
  color: white;
  background-color: black;
  display: block;
  text-align: center;
  padding: 0.5rem;
}

.glasses span { /* part 4, дублируем для .glasses */
  color: white;
  background-color: black;
  display: block;
  text-align: center;
  padding: 0.5rem;
}

.watch span { /* part 4, дублируем для .watch */
  color: white;
  background-color: black;
  display: block;
  text-align: center;
  padding: 0.5rem;
}

.content2 { /* part 4, контент под изображениями location and hours  */
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  margin-bottom: 4rem;
}

.element { /* part 4 ширина одного элемента*/
  width: 35%
}

.title { /* part 4, свойства черного заголовка*/
  display: block;
  background-color: black;
  color: white;
  padding: 1rem 2rem;
  margin-bottom: 0.25rem;
}

footer { /* part 5 footer */
  background-color: black;
  height: 10rem; /* в тех задании задан 5rem, но на финальном изображеия явно не 5rem */
  display: flex;
  justify-content: center;
}

.footer-align { /* part 5, создает контейнер и выравнивает текст по двум осям */
  width: 960px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.footer-align span { /* part 5 footer, цвет текста*/
  color: white;
}

@media only screen and (max-width: 1024px) { /* Для планшетов */
  .header span {  /* part 1 */
    font-size: 0.8rem;
    margin: 0.5rem 0.5rem;
  }


  .header img {  /* part 1 */
    height: 1.2rem;
    padding-right: 10px;
  }

  .red-block .defoult-nav span { /* part 2 скрывает основное меню */
    display: none;
  }

  .red-block .mob-nav { /*part 2 показывает заголовок меню */
    display: block;
    padding: 0.75rem 0;
  }

  .glasses { /* part 3 скрываем блок с очками, как по Тех заданию */
    display: none;
  }


  .item { /* part 3 блок с ручкой в ширину 47% */
    width: 47%;
    flex-shrink: 2;
  }

  .watch { /* part 3 облок с часами в ширину 47% */
    width: 47%;
    flex-shrink: 2;
  }
}

@media only screen and (max-width: 470px) { /* для экранов телефонов */
  .header { /* part 1 центрируем лого*/
    justify-content: center;
  }

  .header span { /* part 1 скрываем заголовок */
    display: none;
  }

  .new-arival {
    height: 16rem; /* part 3 в тех задании 15rem, но смотриться не очень */
  }

  .sub1 {  /* part 2 */
    width: 100%;
  }

  .sub2 { /* part 2 */
    width: 100%;
    position: relative;
    top: 10rem;
    padding: 1rem 2rem;

  }
  h4 { /* part 2 */
    font-size: 0.77rem;
  }

  h1 { /* part 2 */
    font-size: 1rem;
  }

  .watch { /* part 4 убираем блок с очками */
    display: none;
  }

  .item { /* part 4 оставляем с ручкой */
    width: 90%;
    margin: 1rem;
  }

  .content2 { /* part 4 location and hours располагаем в столбик */
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .element { /* part 4 ширина в 90% */
    width: 90%;
    margin: 0.5rem 1rem;
  }


  .footer-align { /* part 5 центрируем футер */
    justify-content: center;
  }

  .footer-align span { /* part 5 делаем шрифт чуть меньше */
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 270px) { /* от себя для 270px, красивей смотриться */
  h1 {
    font-size: 0.8rem;
  }
}
